<nav class="navbar">
  <a href="/" class="navbar-brand">INFR3120 Project</a>
  <ul>
    <img src="/public/content/TEAMLOGO.png" alt="R&Z">
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/movies/add">Add New Movie</a></li>
    <li><a href="https://github.com/Zainab1027/Project-Part-1" target="_blank">GitHub Repository</a></li>
  </ul>
</nav>
