<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">INFR3120</a>
    <img src="../public/Assets/TEAMLOGO.png" alt="R&Z" width="30" height="30">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <% if(title=="home" ) { %>
            <a class="nav-link active" href="/home">
              <% } else { %>
                <a class="nav-link" href="/home">
                  <% } %>
                    <i class="fa-solid fa-house-chimney"></i> Home
                </a>
        </li>
        <li class="nav-item">
          <% if(title=="movies" ) { %>
            <a class="nav-link active" href="/movies">
              <% } else { %>
                <a class="nav-link" href="/movies">
                  <% } %>
                    <i class="fa-solid fa-info"></i> Movies
                </a>
        </li>
        <li class="nav-item">
          <% if(title=="moviesadd" ) { %>
            <a class="nav-link active" href="/moviesadd">
              <% } else { %>
                <a class="nav-link" href="/moviesadd">
                  <% } %>
                    <i class="fa-brands fa-elementor"></i> Add Movie
                </a>
        </li>
        <li class="nav-item">
          <% if(title=="moviesedit" ) { %>
            <a class="nav-link active" href="/moviesedit">
              <% } else { %>
                <a class="nav-link" href="/moviesedit">
                  <% } %>
                    <i class="fa-solid fa-gears"></i> Edit Movie
                </a>
        </li>
        <li class="nav-item">
          <% if(title=="GitHub Repository" ) { %>
            <a class="nav-link active" href="/githubrepository">
              <% } else { %>
                <a class="nav-link" href="/githubrepository">
                  <% } %>
                    <a href="https://github.com/Zainab1027/Project-Part-1" target="_blank">GitHub Repository</a>
                    <i class="fa-solid fa-phone"></i> GitHub Repository
                </a>
        </li>
      </ul>
    </div>
  </div>
</nav>