<%- include('Partials/header.ejs') %>
    <%- include('Partials/main_nav.ejs') %>
        <main class="container">
            <h1>Welcome to My Book Library</h1>
            <p>This site allows you to add, view, edit, and delete books from the library collection.</p>
            <a href="/books/add" class="btn btn-primary">Add New Book</a>
        </main>
        <%- include('Partials/footer.ejs') %>