<%- include ../Partials/header.ejs %>
    <%- include ../Partials/main_nav.ejs %>

        <form action="/movies/add" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>

            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre" required>

            <label for="year">Released Year:</label>
            <input type="number" name="year" id="year" required>

            <label for="description">Description:</label>
            <textarea name="description" id="description" required></textarea>

            <label for="rating">Rating (out of 5):</label>
            <input type="number" name="rating" id="rating" required min="0" max="5" step="0.1">

            <button type="submit">Add Movie</button>
        </form>

        <%- include ../Partials/footer.ejs %>